{
  "plugins": [
    "lodash",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-import-meta",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-json-strings",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-proposal-function-sent",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-numeric-separator",
    "@babel/plugin-proposal-throw-expressions",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-logical-assignment-operators",
    "@babel/plugin-proposal-optional-chaining",
    [
      "@babel/plugin-proposal-pipeline-operator",
      {
        "proposal": "minimal"
      }
    ],
    "@babel/plugin-proposal-nullish-coalescing-operator",
    "@babel/plugin-proposal-do-expressions",
    "@babel/plugin-proposal-function-bind",
    ["babel-plugin-module-resolver", { "root": ["."] }]
  ],
  "env": {
    "development": {
      "presets": ["@babel/preset-env", "@babel/preset-react"],
      "plugins": [
        [
          "emotion",
          {
            "sourceMap": true,
            "autoLabel": true
          }
        ]
      ]
    },
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": ["defaults", "not safari < 9", "not ie < 11"]
            },
            "modules": false
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": [
        [
          "emotion",
          {
            "hoist": true
          }
        ]
      ]
    },
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-react"],
      "plugins": ["emotion"],
      "sourceMaps": true,
      "retainLines": true
    }
  }
}
